# Exclude test files
playbooks/tags-test.yml
roles/tags-test/
hosts-test
hosts
test/

# Exclude ansible.cfg as this is picked up on dev machines as the main file. This results in the wrong roles path being used when executing ansible-playbook.
ansible.cfg

# Exclude vault.yml
vault.yml

# Exclude vars/ dir
vars/